{% load menu_tree_filter %}

{% if menu.main %}
    <nav>
        <ul>
            {% for submenu in menu.submenu %}
            <li class="{% if submenu.slug in menu.parents_active_link %}active{% endif %}">
                <a href="{% url 'menu:submenu_do_something' menu.main.slug submenu.slug %}">{{ submenu }}</a>
                {% draw_submenu submenu menu.parents_active_link %}
            </li>
            {% endfor %}
        </ul>
    </nav>
{% else %}
    <p>{{ menu.error }}</p>
{% endif %}